
.DS_Store

# Ignore everything in data except config.json and library.yml
/data/*
!/data/config.json
!/data/library.yml

node_modules/

validator_cli.jar

.idea/codeStyles/

registry/registry-data.json

locator/

tests/library/.last-integration-test-run

package-cache/

test-cache/

tests/vs/.vsac-last-run

data/shl/private-key.pem

data/shl/public-key.pem

data/bin/validator_cli.jar.version

tx/tests/test-cases-summary.txt

.idea/

bin/validator_cli.jar.version

*.log

test-cases-summary.txt

tx/data/CodeSystem-cpt.db

coverage/
